{% extends 'base.html' %}

{% block content %}
<hr class="mt-5 mb-5">
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-6">
            <h2 class="fw-bolder display-4 text-white mb-3">We're a mobile mechanic service</h2>
            <p style="color:lightgray">Our specialist service will enable you to get the best service without leaving your home or office. We priorities safety and convience.</p>

            <p style="color:lightgray">Our business takes pride in our more than 10 years of service in this industry. The service is for all to rate, we have nothing to hide. We have specialised mobile equipment that can safely execute any automobile task. </p> <br>

            <div class="d-flex gap-4 align-items-center">
                <i class="bi bi-card-heading" style="color:lightgrey"></i>

                <p style="color:lightgrey">Pardy mobile mechanics 
                </p>

            </div>

            <div class="d-flex gap-4 align-items-center">
                <i class="bi bi-building" style="color:lightgrey"></i>
                <p style="color:lightgrey">
                    164 Allan road, Glen Austin, Midrand <br>
                     Johannesburg, 1685, <br>
                     South Africa
                </p>
            </div>


            <div class="d-flex gap-4">
                <i class="bi bi-envelope" style="color:lightgrey"></i>
                <p style="color:lightgrey">
                    hello@pardymobilemechanics.co.za
                </p>
            </div>

            <div class="d-flex gap-4">
                <i class="bi bi-phone" style="color:lightgrey"></i>
                <p style="color:lightgrey">
                    061 633 4597 / 083 217 9562
                </p>
            </div>


        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3526.412504771497!2d28.095344575346388!3d-26.118911877129186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950de4767876ff%3A0xc0cb9dd3da2c9591!2sPardy%20mobile%20mechanics!5e1!3m2!1sen!2szw!4v1731308393756!5m2!1sen!2szw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
{% endblock %}