{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="d-none">Services</h1>
<div class="services-img text-center align-content-center text-white mb-5">
    <h2 class="text-uppercase fw-bold display-4">Our Services</h2>
</div>
<div class="container mt-5 mb-5">
    <div class="row text-center gy-5">
        <div class="col-md-4">
            <div class="card">
                <img class="mx-auto d-block card-img-size" src="{% static 'img/diagnostic.png' %}" alt="diagnostic img">
                <div class="card-body">
                <h5 class="card-title">Computerised diagnostic</h5>
                <p class="card-text">Our mobile mechanics are equipped with state-of-the-art diagnostic tools to pinpoint and resolve complex car issues, right at your doorstep. No more waiting in garages or towing your vehicle. Our expert technicians will accurately diagnose your car's problem and provide efficient solutions, saving you time and money.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="mx-auto d-block card-img-size" src="{% static 'img/car-engine.png' %}" alt="car-engine" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Engine & cylinder head overhaul</h5>
                <p class="card-text">Restore your engine’s power with our mobile engine and cylinder overhaul service! Our skilled mechanics come to you, providing comprehensive inspections, repairs, and rebuilds to keep your engine running like new. Skip the shop and get expert care right at your doorstep—reliability and performance are just a call away!</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="mx-auto d-block card-img-size" src="{% static 'img/auto-suspension.png' %}" alt="auto-suspension" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Suspension & brakes</h5>
                <p class="card-text">Experience top-tier suspension and brake repair services, right at your location. Our skilled technicians will meticulously diagnose and repair your vehicle's braking system and suspension components. Enjoy a smoother ride and safer stops, without the hassle of traditional garage visits.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="mx-auto d-block card-img-size" src="{% static 'img/engine.png' %}" alt="engine img" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Major & Minor service</h5>
                <p class="card-text">Enjoy the convenience of professional car care, delivered right to your doorstep. Our skilled technicians offer comprehensive major and minor car services, from routine maintenance to in-depth tune-ups. Experience the future of automotive care, without the hassle of traditional garage visits.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="mx-auto d-block card-img-size" src="{% static 'img/ac.png' %}" alt="ac img" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Air conditioning</h5>
                <p class="card-text">Stay cool on the road with our mobile car A/C service! Our expert mechanics come to you, providing quick, reliable A/C inspections, recharges, and repairs at your convenience. Skip the wait and enjoy perfectly tuned air conditioning wherever you are. Cool comfort is just a call away!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="mx-auto d-block card-img-size" src="{% static 'img/gearbox.png' %}" alt="gearbox img" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Gearbox & clutch maintenance</h5>
                <p class="card-text">Keep your drive smooth with our mobile gearbox and clutch maintenance! Our expert mechanics come to you, delivering reliable inspections, adjustments, and repairs right at your location. Skip the workshop wait—get back on the road with confidence. Quality service is just a call away!</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}